<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Reklamacji</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/tech/reports}">Panel</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tech/reports}">Naprawy</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Dodaj diagnozę serwisową</h1>
            <div class="card-body">
                <form th:action="@{/reports/{id} (id=${report.id})}" th:object="${report}" method="POST">
                    <div class="form-group">
                        <label>Producent:</label>
                        <input
                                type="text"
                                name="producer"
                                th:field="*{producer}"
                                class="form-control"
                                placeholder="Wprowadź producenta"
                                disabled
                        />
                    </div>

                    <div class="form-group">
                        <label>Model:</label>
                        <input
                                type="text"
                                name="model"
                                th:field="*{model}"
                                class="form-control"
                                placeholder="Wprowadź model"
                                disabled
                        />
                    </div>

                    <div class="form-group">
                        <label>Imię:</label>
                        <input
                                type="text"
                                name="customerFirstName"
                                th:field="*{customerFirstName}"
                                class="form-control"
                                placeholder="Wprowadź imię"
                                disabled
                        />
                    </div>

                    <div class="form-group">
                        <label>Nazwisko:</label>
                        <input
                                type="text"
                                name="customerLastName"
                                th:field="*{customerLastName}"
                                class="form-control"
                                placeholder="Wprowadź nazwisko"
                                disabled
                        />
                    </div>

                    <div class="form-group">
                        <label>Telefon kontaktowy:</label>
                        <input
                                type="text"
                                name="customerPhoneNumber"
                                th:field="*{customerPhoneNumber}"
                                class="form-control"
                                placeholder="Wprowadź nr telefonu"
                                disabled
                        />
                    </div>

                    <div class="form-group">
                        <label>Opis Problemu:</label>
                        <input
                                type="text"
                                name="problemDescription"
                                th:field="*{problemDescription}"
                                class="form-control"
                                placeholder="Opis problemu"
                                disabled
                        />
                    </div>

                    <div class="form-group">
                        <label>Diagnoza:</label>
                        <input
                                type="text"
                                name="reportDiagnosis"
                                th:field="*{reportDiagnosis}"
                                class="form-control"
                                placeholder="Wprowadź diagnozę"
                        />
                    </div>

                    <div class="form-group">
                        <label>Stan naprawy: </label>
                        <select name="reportState" id="reportState">
                            <option value="Nowe">Nowe</option>
                            <option value="Oczekuje na dostarczenie">Oczekuje na dostarczenie</option>
                            <option value="W trakcie diagnozy">W trakcie diagnozy</option>
                            <option value="Wymienione">Wymienione</option>
                            <option value="Naprawione">Naprawione</option>
                            <option value="Wyjątek">Wyjątek</option>
                            <option value="Odrzucone">Odrzucone</option>
                            <option value="Anulowane">Anulowane</option>
                            <option value="Odesłane do klienta">Odesłane do klienta</option>
                        </select>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Wyślij
                        </button>
                        <a th:href="@{/tech/reports}"
                           class="btn btn-link">Anuluj</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
</body>
</html>